@{
    ViewData["Title"] = "Trang chủ";
}
<style>
    #loading {
        font-size: 20px;
        color: #000;
        text-align: center;
        padding: 20px;
    }

    .sidebar-right {
        position: relative;
    }

    #loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .typing-indicator {
        width: 60px;
        height: 30px;
        position: relative;
        z-index: 4;
    }

    .typing-circle {
        width: 8px;
        height: 8px;
        position: absolute;
        border-radius: 50%;
        background-color: #000;
        left: 15%;
        transform-origin: 50%;
        animation: typing-circle7124 0.5s alternate infinite ease;
    }

    @@keyframes typing-circle7124 {
        0% {
            top: 20px;
            height: 5px;
            border-radius: 50px 50px 25px 25px;
            transform: scaleX(1.7);
        }

        40% {
            height: 8px;
            border-radius: 50%;
            transform: scaleX(1);
        }

        100% {
            top: 0%;
        }
    }

    .typing-circle:nth-child(2) {
        left: 45%;
        animation-delay: 0.2s;
    }

    .typing-circle:nth-child(3) {
        left: auto;
        right: 15%;
        animation-delay: 0.3s;
    }

    .typing-shadow {
        width: 5px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 30px;
        transform-origin: 50%;
        z-index: 3;
        left: 15%;
        filter: blur(1px);
        animation: typing-shadow046 0.5s alternate infinite ease;
    }

    @@keyframes typing-shadow046 {
        0% {
            transform: scaleX(1.5);
        }

        40% {
            transform: scaleX(1);
            opacity: 0.7;
        }

        100% {
            transform: scaleX(0.2);
            opacity: 0.4;
        }
    }

    .typing-shadow:nth-child(4) {
        left: 45%;
        animation-delay: 0.2s;
    }

    .typing-shadow:nth-child(5) {
        left: auto;
        right: 15%;
        animation-delay: 0.3s;
    }
</style>
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="https://file1.hutech.edu.vn/file/slider/f4bc1b922ec864d0cfe84cf9382fa359.jpg" alt="Slide 1" style="width: 1100px; height: 300px;">
            </div>
            <div class="item">
                <img src="https://file1.hutech.edu.vn/file/slider/38ce9cac8573fd8219ae19a0a0565176.png" alt="Slide 2" style="width: 1100px; height: 300px;">
            </div>
            <div class="item">
                <img src="https://file1.hutech.edu.vn/file/slider/b8c36131bc826fd5776e1c3ea07a0128.jpg" alt="Slide 3" style="width: 1100px; height: 300px;">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="sidebar">
        <h2>Chủ đề</h2>
        <!-- Nội dung của cột chủ đề -->
        <ul>
            <li><a href="https://sinhvien.hutech.edu.vn/#/sinhvien/login/login">Sinh viên Hutech</a></li>
            <li><a href="https://daotao.hutech.edu.vn/>">Cổng Thông Tin Đào Tạo</a></li>
            <li><a href="https://e-graduate.hutech.edu.vn/">E-Learning Hutech</a></li>
            <!-- Thêm các mục chủ đề khác cần thiết -->
        </ul>
    </div>

    <div class="main-content">
		
        <!-- Nội dung của trang chính -->
    </div>
    <div class="sidebar-right">
        <div id="posts_container">
            <!-- Danh sách bài viết sẽ được hiển thị ở đây -->
            <div id="loading" style="display: none;">
                <div class="typing-indicator">
                    <div class="typing-circle"></div>
                    <div class="typing-circle"></div>
                    <div class="typing-circle"></div>
                    <div class="typing-shadow"></div>
                    <div class="typing-shadow"></div>
                    <div class="typing-shadow"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy địa chỉ URL hiện tại
        var url = window.location.href;

        // Lấy tất cả các mục trong thanh menu
        var menuItems = document.querySelectorAll('nav ul li a');

        // Lặp qua từng mục trong thanh menu
        menuItems.forEach(function (item) {
            // Kiểm tra nếu địa chỉ URL chứa đường dẫn của mục đó
            if (url.indexOf(item.getAttribute('href')) > -1) {
                // Thêm lớp 'selected' cho mục đó
                item.classList.add('selected');
            }
        });
    });
    /*bài post*/
    $(document).ready(function () {
        const postsContainer = $('#posts_container');
        const mainContent = $('.main-content');
        let currentIndex = -1;

        async function fetchPosts() {
            $('#loading').show();
            try {
                const response = await fetch("https://script.google.com/macros/s/AKfycbyf_E0bAmFqn9i1m_efPwvYXPfUYMBJc9KQ_J1jKOwlBwFBFIGxLQ7kpEuK3lQJml7r/exec");
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const data = await response.json();
                if (data && data.length > 0) {
                    displayPosts(data);
                    startAutoRotation();
                } else {
                    postsContainer.html('<p>No posts available at the moment.</p>');
                }
            } catch (error) {
                console.error('Error fetching posts:', error);
                postsContainer.html('<p>Failed to load posts. Please try again later.</p>');
            } finally {
                $('#loading').hide();
            }
        }

        function displayPosts(posts) {
            postsContainer.empty(); // Clear existing posts
            posts.forEach(post => {
                const postElement = $(`
                            <div class="post">
                                <center><h3 style="margin-top: 10px; font-size: 20px">${post.title}</h3></center>
                                   ${post.image ? `<img src="${post.image}" alt="Hình ảnh bài viết">` : ''}
                                <div class="post-content">
                                    ${post.contents_}
                                </div>
                            </div>
                        `);
                postsContainer.append(postElement);
            });
        }

        function startAutoRotation() {
            const posts = $(".sidebar-right .post");
            setInterval(function () {
                rotatePosts(posts);
            }, 3000); // 3 seconds
        }

        function rotatePosts(posts) {
            const nextIndex = (currentIndex + 1) % posts.length;
            const nextPost = $(posts[nextIndex]);

            $(".sidebar-right").prepend(nextPost);

            currentIndex = nextIndex;

            const clonedContent = nextPost.clone();
            clonedContent.removeClass('post');
            clonedContent.css({ 'border': 'none', 'height': 'auto' });
            mainContent.html(clonedContent);
        }

        fetchPosts();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const dropbtn = document.querySelector('.btnchude');
        const dropdownContent = document.querySelector('.chude-content');

        dropbtn.addEventListener('click', () => {
            dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
        });

        window.addEventListener('click', (event) => {
            if (!event.target.matches('.btnchude')) {
                dropdownContent.style.display = 'none';
            }
        });
    });

</script>