@{
    ViewData["Title"] = "OnlyA";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Poppins', sans-serif">Let's Study With Us</h1>
    <p id="currentDateTime" style="font-family: 'Poppins', sans-serif"></p>
</div>







