@model DoAnMon.Models.FriendRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>FriendRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequesterId" class="control-label"></label>
                <input asp-for="RequesterId" class="form-control" />
                <span asp-validation-for="RequesterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetId" class="control-label"></label>
                <input asp-for="TargetId" class="form-control" />
                <span asp-validation-for="TargetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassID" class="control-label"></label>
                <input asp-for="ClassID" class="form-control" />
                <span asp-validation-for="ClassID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAccepted" /> @Html.DisplayNameFor(model => model.IsAccepted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
