@using DoAnMon.IdentityCudtomUser
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager
@inject SignInManager<CustomUser> _signInManager;

<style>
    /* Chỉnh lại dropdown menu thành menu dọc và đẩy xuống phía dưới */
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem; /* Đảm bảo chiều rộng tối thiểu */
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }

    /* Chỉnh lại dropdown menu cho phù hợp với menu dọc */
    .dropdown-menu-right {
        right: 0;
        left: auto;
    }

    /* Khi menu được mở ra, hiển thị nó */
    .show {
        display: block;
    }

    /* Chỉnh lại dropdown-item để chiếm toàn bộ chiều rộng */
    .dropdown-item {
        width: 100%;
        height: auto; /* Đảm bảo chiều cao tự động */
        padding: 0.5rem 1rem; /* Đảm bảo padding cho mỗi mục */
        margin: 0;
    }

    .custom-padding{
        padding-bottom: 15px;
    }

</style>
@{
    var user = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && user != null)
{ 
        <li class="nav-item dropdown">
            @{
                var name = user?.Name;
                <a class="nav-link text-dark dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@name</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <p class="dropdown-item custom-padding">MSSV: @user.Mssv</p>
                    <p class="dropdown-item custom-padding">Email: @user.Email</p> 
                    <a class="text-dark dropdown-item nav-link" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage" style="padding-left: 16px;">Đổi mật khẩu</a>
                    <form class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="btn btn-link text-dark" style="padding: 0; text-decoration: none; width: 100%; margin-bottom: 0; text-align:left;">Logout</button>
                    </form>
				</div>
            }
            
        </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Index">Login/Signup</a>
    </li>
}
</ul>
