@model DoAnMon.Models.ClassRoom

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Thiết lập chiều rộng của label */
    label {
        display: inline-block;
        width: 100px; /* Điều chỉnh chiều rộng của label tại đây */
    }

    /* Thiết lập chiều rộng của input */
    input[type="text"] {
        width: calc(100% - 120px); /* Điều chỉnh chiều rộng của input tại đây */
        max-width: 500px; /* Điều chỉnh chiều rộng tối đa của input tại đây */
        min-width: 250px;
    }

    /* Thiết lập padding và margin cho form */
    form {
        padding: 20px;
        margin: 0 auto;
        max-width: 600px; /* Điều chỉnh chiều rộng tối đa của form tại đây */
        min-width: 300px;
    }

    /* Thiết lập padding cho button */
    input[type="submit"] {
        padding: 10px 20px;
    }
</style>

<h1>Create</h1>

<h4>ClassRoom</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomOnline" class="control-label"></label>
                <input asp-for="RoomOnline" class="form-control" />
                <span asp-validation-for="RoomOnline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
