@model IEnumerable<DoAnMon.Models.ClassRoom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="content">
    @{
        foreach(var room in Model)
        {
            <div class="classroom">
                <div class="card-top" style="background-image: url(/Images/footer_bg.png);">
                    <h2>@room.Name</h2>
                    <div class="meta">@room.Description</div>
                    <p style="padding-top: 3%;">Nguyễn Công Quý</p>
                </div>
                <div class="card-bottom">
                    <img class="PNzAWd" aria-hidden="true" src="/Images/Thiết kế chưa có tên.png">
                    <a href="https://lop.com" class="btn btn-primary btn-info btn-custom" target="_blank">Giảng đường</a>
                    <a href="https://lop.com" class="btn btn-primary btn-info btn-custom" target="_blank" style="margin-top: 10px;">Lớp học</a>
                </div>
            </div>
        }
    }   
</div>